#mainHeader>l-i{
  background: url("../banner-red.png");
  background-repeat:no-repeat;
  background-position: calc(100% - 30px) 100%;
  border-bottom:1px solid rgba(155,7,29,.7);
}
x-tab{
  border-right:1px solid rgba(155,7,29,.7);
}
sb-folder, sb-clip, x-click:not([nostyle]):not(.nostyle){
  border:1px solid rgba(155,7,29,.7);
}
sb-clip>.fa{
  border-left:1px dotted rgba(155,7,29,.7);
}
#sbMain>sb-folder.active{
  background:rgba(185,27,49,.12);
}
sb-folder.active{
  background:rgba(185,27,49,.04);
  border-left: 3px solid rgba(155,7,29,.6);
}
#mainTabs, #sbSidebar > div > div.active:not(:first-child){
  border-top:1px solid rgba(155,7,29,.7);
}
x-prog{
  border: 1px solid rgba(155,7,29,.7);
}
x-prog>span{
  background:rgba(155,7,29,.25);
}
.overlayProgBar>div>x-out{
  color:rgba(135,7,29,.8) !important;
}
