body,html{
  font-family:"Quantico", sans-serif;
  width:100%;
  heighT:100%;
  font-size:90%;
  overflow-x:hidden;
  overflow-y:hidden;
}
#mainContainer{
  overflow-x:hidden;
  overflow-y:hidden;
  position:absolute;
  top:0%;
  height:200%;
  width:100%;
}
#mainLogin{
  width:100%;
  height:50%;
}
#mainLogin>l-r>l-i{
  width:100%;
  text-align: center;
  vertical-align: middle;
}
#mainSource{
  height:1em;
  text-align: right;
}
#mainBody{
  height:50%;
  width:100%;
}
#themeSel{
  position: absolute;
  top:0px;
  right:0px;
}
